html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #444;
    color: white;
}

#git-banner {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#git-banner:hover {
    background: rgba(255, 255, 0, 0.8);
}

#git-banner img {
    height: 16px;
    padding-right: 5px;
}

#viewport {
    padding: 0 20px 0 360px;
    overflow: hidden;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    z-index: 999;
    transform: translate(0, 0);
    transition: transform 1s ease-in-out;
}

#loading.loading-hidden {
    transform: translate(0, -100%);
}

#loading-label {
    text-align: center;
    width: 100%;
    font-size: 40px;
}

#filter-pane {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 350px;
    background: black;
    transition: transform 1s ease-in-out;
    z-index: 99;
}

#filter-pane.pane-showing {
    transform: translate(0, 0);
}

.filter-color {
    background: transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 4px;
    margin-left: 10px;
}

#btn-filter-toggle {
    position: fixed;
    display: none;
    margin: 10px 0 0 10px;
}

@media screen and (max-width: 960px) {
    #filter-pane {
        top: 40px;
        height: calc(100vh - 40px);
        transform: translate(-100%, 0);
    }

    #viewport {
        padding-left: 0;
        padding-top: 30px;
    }

    #btn-filter-toggle {
        display: block;
    }
}

#filter-header {
    padding: 10px;
    text-align: center;
}

#chart-pane {
    width: 100%;
}

#filter-pane .filter-pane-list {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 50px);
    padding: 10px;
}

.filter-check {
    padding-bottom: 5px;
}

#time-chart-options {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* C3 Customization */
.c3 text {
    fill: white;
}

.c3 .domain,
.c3 .tick line {
    stroke: white;
}

.c3-tooltip-container .c3-tooltip {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.c3-tooltip-container .c3-tooltip td,
.c3-tooltip-container .c3-tooltip th {
    background: black;
}